@import url(http://fonts.googleapis.com/css?family=Roboto:400,900);
.clickable{
    cursor: pointer;   
}

.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}
.cover-photo{
	padding:0px !important;
	background-repeat:no-repeat;
	
	background-size: 100% 100%;
	
}
.float-couple{
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  text-decoration:none;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
  text-align:center;
}
.float-couple a{  color: white;
  text-transform: uppercase;
  text-decoration:none;
}

.paypal_btn {
  background: #FFF3DC ;
  background-image: -webkit-linear-gradient(top, #FFF3DC, #FFAF34) !important;
  background-image: -moz-linear-gradient(top, #FFF3DC, #FFAF34) !important;
  background-image: -ms-linear-gradient(top, #FFF3DC, #FFAF34) !important;
  background-image: -o-linear-gradient(top, #FFF3DC, #FFAF34) !important;
  background-image: linear-gradient(to bottom, #FFF3DC, #FFAF34) !important;
  -webkit-border-radius: 20 !important;
  -moz-border-radius: 20 !important;
  border-radius: 20px !important;
  font-family: Arial !important;
  color: #003366 !important;
  font-size: 18px !important;
  padding: 10px 40px 10px 40px !important;
  margin-top:16px;
  font-style: italic !important;
  
}

.paypal_btn:hover,.paypal_btn:focus {
  background: #FFAF34 !important;
  background-image: -webkit-linear-gradient(top, #FFAF34, #FFF3DC) !important;
  background-image: -moz-linear-gradient(top, #FFAF34, #FFF3DC) !important;
  background-image: -ms-linear-gradient(top, #FFAF34, #FFF3DC) !important;
  background-image: -o-linear-gradient(top, #FFAF34, #FFF3DC) !important;
  background-image: linear-gradient(to bottom, #FFAF34, #FFF3DC) !important;
}

.wedding-registry{padding:16px 0px 0px 0px	;}


.the-objects {
    float: left;
    margin: 2px;
    width: 150px;
    overflow: hidden;
}
.the-objects .img-block {
    background-color: #ede9e7;
    width: 300px;
    overflow: hidden;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.the-objects .img-block .link {
    position: absolute;
}
.img-block{width:150px;height:150px;}
.the-objects .img-block .link a img {
    width: 150px;
    height: 150px;
}
.the-objects .caption {
  position: relative;
  top: -198px;
  left: 0;
  width: 100%;
  height: 48px;
  color: white;
  font-size: 1em;
  background-color: black;
  opacity: 0.70;
}
.the-objects  p {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  margin: 0;
  font-size: 1rem;
  position: relative;
  top: -43px;
  z-index: 99;
  text-align: center;
}


/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/




    /*==========  Mobile First Method  ==========*/

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 320px) {
		.panel-body form div select,
		.panel-body form div input{
			width:100%;
		}


    }
    @media only screen and (min-width : 480px) {
	    .lead {
        font-size:0.8em;
    }
		.panel-body form div select,
		.panel-body form div input{
			width:100%;
		}
		
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
	    .lead {
        font-size:20px;
    }
		.panel-body form div select,
		.panel-body form div input{
			width:100%;
		}
		/*.cover-photo{
			float: none;
			margin: 0 auto;
			width:40%;
		
		}
		.wedding-registry{
			width:70%;
		
		}
		.float-couple{

		  font-weight: 900;
		  font-size: 1.5rem;
		   
		  position: relative;
		  font-family: 'Roboto', sans-serif;
		  color: white;
		  text-transform: uppercase;
		  margin: 0;
		  position: absolute;
		  left: 50%;
		  top: 81%;
		  transform: translate(-50%, -50%);
		  text-align:center

		}*/

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
		.panel-body form div select,
		.panel-body form div input{
			width:100%;
		}}	

.registry-tile {
  width: 150px;
  height: 150px;


  transition: 1s transform;
  transform-origin: top center;
  float: left;
  margin-right: 10px;
  position: relative;
  backface-visibility: hidden;
}

#registry-hover:hover {
z-index:999;
}

.registry-content {
  width: 300px;
  height: 300px;
  transform: scale(.5);
  transform-origin: top left;
}

#registry-hover:hover {
  transform: scale(2);
}

#registry-hover:hover .registry-overlay {
  touch-action: auto;
  transform: scale(1);
}

.registry-shiftLeft { 
  transform: translate3d(-40px, 0, 0);
}

.registry-shiftRight { 
  transform: translate3d(40px, 0, 0);
}